.footer{
    color: #FFF;   
    display: flex;
    margin: auto;
    width: 70%;
    
    justify-content: space-between;
    &-item{
        text-align: center;
        p{
            font-size: .8rem;
            font-family: 'Kufam', sans-serif;
        }
    }
}

@media only screen and (max-width: 800px){
    .footer{
        width: 100%;
    }
}
@media only screen and (max-width: 400px){
    .footer{
        display: none;
    }
}