<main class="main">

    <div class="main-form">
        
        <img src="assets/icon.png" alt="" srcset="">

        <div class="main-form-item">
            <span>E-mail</span>
            <input type="text" name="" placeholder="eu@olucaspascoal.com" id="">
        </div>

        
        <div class="main-form-item">
            <span>Senha</span>
            <input type="password" name="" placeholder="*******" id="">
        </div>

        <div class="main-form-check">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember"> Lembrar minha senha </label>
        </div>

        <button type="submit"> Entrar na conta </button>

        <p> Esqueceu a senha? </p>
    </div>
</main>